<div class="row marketing">
    <div class="col-lg-7">
        <h2 style="text-align: center">Welcome to the Computer Science Minor!</h2>
        <p>From the World-Wibe Web to Artificial Intelligence to the Internet
        of Things, computing is an important driver of contemporary society.
        The study of Computer Science at Georgetown College provides you with
        practical skills in programming, data analysis and web-design that are
        sure to enhance almost any major.  Just as important, Computer Science
        teaches you how to problem-solve and offers a unique perspective on
        organizing information and managing complexity.</p>

        <p>Use this site to explore our Computer Science course offerings and to
            learn about the minor in Computer Science at Georgetown.  If you still
            have questions, please contact the
            <a href="mailto:hwhite0@georgetowncollege.edu">Program Coordinator</a>.
        </p>

        <p>Prepare to work hard and to have a lot of fun along the way!</p>

    </div>

    <div class="col-lg-5">
        <aside>
            <h3>News</h3>
            <h4>Recent Posts</h4>
            <ul>
                <%  let count = 0;
                        for( var slug in public.posts._data ) {
                    count++;
                    if ( count > postListLimit) { break };
                %>
                <li><a href="posts/<%= slug %>.html"><%= public.posts._data[slug].title %></a></li>
                <%
                }; %>
            </ul>

            <%  const now = new Date();
            let someEventInRange = false;
            for( var slug in public.events._data ) {
                let eventTime = new Date(public.events._data[slug].date);
                let diff = (eventTime - now) / (1000 * 3600 * 24);
                let inRange = diff >= 0 && diff <= upcomingEventLimit;
                if (inRange) {
                    someEventInRange = true;
                };
            };
            if ( someEventInRange ) {
            %>
            <h4>Upcoming Events</h4>
            <%
            };
            %>

            <ul>
                <%  for ( var slug in public.events._data ) {
                    let eventTime = new Date(public.events._data[slug].date);
                    let diff = (eventTime - now)/(1000*3600*24);
                    let inRange = diff >= 0 && diff <= 100;
                if ( inRange ) {
                %>
                <li><a href="events/<%= slug %>.html"><%= public.events._data[slug].name %></a>
                    <br><%= public.events._data[slug].date%></li>
                <%
                };
                };
                %>
            </ul>
        </aside>

    </div>
</div>
