<!-- Fixed navbar -->

<%
    const dropdownList = ["blog", "event-index", "resources"];
    const inDropdownList = dropdownList.indexOf(current.source) > -1;
%>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/index.html">GC Comp Sci</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a class="<%- current.source == 'index' ? 'active' : '' %>" href="/index.html">Home</a></li>
                <li><a class="<%- current.source == 'minor' ? 'active' : '' %>" href="/minor.html">Minor</a></li>
                <li><a class="<%- current.source == 'contact' ? 'active' : '' %>" href="/contact.html">Contact</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle <%- inDropdownList ? 'active' : '' %>" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a class="<%- current.source == 'blog' ? 'active' : '' %>" href="/blog.html">News</a></li>
                        <li><a class="<%- current.source == 'event-index' ? 'active' : '' %>" href="/event-index.html">Events</a></li>
                        <li><a class="<%- current.source == 'faq' ? 'active' : '' %>" href="/faq.html">FAQ</a></li>
                        <li><a class="<%- current.source == 'resources' ? 'active' : '' %>" href="/resources.html">Resources</a></li>
                    </ul>
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>


